<p>navbar works!</p>

<nav class="bg-primary p-4 shadow-md flex justify-between items-center text-background">
    <div class="text-title">Mi Marca</div>
    <ul class="flex space-x-4">
        <li><a routerLink="/" class="text-paragraph hover:text-accent">Inicio</a></li>
        <li><a routerLink="/services" class="text-paragraph hover:text-accent">Servicios</a></li>
        <li><a routerLink="/contact" class="text-paragraph hover:text-accent">Contacto</a></li>
        <li><button routerLink="/login"
                class="bg-accent px-4 py-2 rounded text-background text-paragraph hover:bg-opacity-80">Login</button>
        </li>
    </ul>
    </nav>